---
import Layout from "../layouts/Layout.astro";
import { fetchNotionData } from "../utils/getNotionItems.js";

interface NotionPageItem {
  properties: {
    Order?: { number: number };
    Title?: { title: { plain_text: string }[] };
    image?: { rich_text: { href: string }[] };
  };
}
const fetchedItems = await fetchNotionData();
const items = fetchedItems as NotionPageItem[];
const featuredItem = items.find((item) => item.properties.Order?.number === 1);
---

<Layout title="About Us" backgroundColor="#fff">
  <section class="about-section">
    <div class="about-header">
      <h1>About Me</h1>
    </div>

    <div class="about-content">
      <img
        class="about-image"
        src={featuredItem.properties?.image?.rich_text[0]?.href || ""}
        alt={featuredItem.properties?.Title?.title[0]?.plain_text || "About Image"}
      />

      <div class="about-text">
        <h2>Intro</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet
          nisi sed dui egestas auctor. Curabitur ut libero neque. Vivamus vel
          metus finibus, semper justo at, facilisis felis. Fusce auctor nisi
          vitae tellus semper viverra.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet
          nisi sed dui egestas auctor. Curabitur ut libero neque. Vivamus vel
          metus finibus, semper justo at, facilisis felis. Fusce auctor nisi
          vitae tellus semper viverra.
        </p>

        <h2>2nd Title</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet
          nisi sed dui egestas auctor. Curabitur ut libero neque. Vivamus vel
          metus finibus, semper justo at, facilisis felis. Fusce auctor nisi
          vitae tellus semper viverra.
          Aliquam erat volutpat. Sed ut fermentum sapien, in accumsan sem.
          Vestibulum in mauris quis justo malesuada aliquet. Sed sit amet
          vestibulum lorem, vitae pulvinar dui.
        </p>
      </div>
    </div>
  </section>
</Layout>


<style>
  .about-section {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
  }

  .about-header {
    text-align: center; /* Center the h1 element */
    margin-top: 0; /* Remove default top margin for h1 */
  }

  .about-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: flex-start; /* Align items at the top */
  }

  .about-image {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .about-text {
    flex: 1;
  }

  @media (max-width: 768px) {
    .about-content {
      flex-direction: column;
    }
  }

</style>
